<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- 项目代码 -->
    <add key="ProjectCode" value="Single_CUS" />
    <!-- 数据库代码 sqlserver access oracle sybase-->
    <add key="dbType" value="oracle" />
    <!-- 服务代码 WinCusSynH2000Service -->
    <add key="ServerCode" value="BJBHSyncH2000Service" />
    <!-- 服务名称 -->
    <add key="ServerName" value="珠海宏桥-保金保函数据订阅服务" />
    <!-- H2000的dbLink地址（下发库） HGTYBS_CUS_LNK -->
    <add key="H2000DbLink" value="H2000_IMS_RECV_LNK.HGTYBS_CUS.dbo" />
    <!-- 发送报文目录 -->
    <add key="SendFilePath" value="D:\报文目录\单一窗口订阅\Send\" />
    <!-- 接收报文目录 -->
    <add key="ReclFilePath" value="D:\报文目录\保金保函\单一窗口订阅\Recl\" />
    <!-- 同步多少天内的数据 -->
    <add key="SyncDays" value="100" />
    <!-- 每个报文里记录的个数，最多不超过100 -->
    <add key="RowCountInFile" value="2" />
    <!-- 发送报文 (Yes、No) -->
    <add key="SendIsOpen" value="No" />
    <!-- 接收报文 (Yes、No) -->
    <add key="ReclIsOpen" value="Yes" />
    <!-- 同步频率，单位:分钟 -->
    <add key="SyncTime" value="2" />
    <add key="PrefixName" value="BHDY" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="LisDB" providerName="System.Data.SqlClient" connectionString="uid=whdyck;pwd=whdyck;initial catalog=WHHGWL;data source=10.79.88.170" />
    <!--<add name="LocalDB" providerName="System.Data.SqlClient" connectionString="uid=sa;pwd=erp-china;initial catalog=BJBH;data source=192.168.0.118" />-->
    <add name="LocalDB" providerName="System.Data.OracleClient" connectionString="Data Source=ORCL;User Id=BJBH_ENT;Password=123456;"/>

    <add name="TykkDB" providerName="System.Data.SqlClient" connectionString="uid=sa;pwd=erp-china;initial catalog=TYKK_CUS;data source=10.79.91.143" />
    <!--<add name="TestDB" providerName="System.Data.SqlClient" connectionString="uid=sa;pwd=dongjie;initial catalog=HGTYBS_CUS;data source=."/>
    <add name="LocalDB" providerName="System.Data.SqlClient" connectionString="uid=sa;pwd=dongjie;initial catalog=SyncTemp;data source=."/>-->
    <!--<add name="LocalDB" providerName="System.Data.OracleClient" connectionString="Data Source=ORCL123;User Id=HGTYBS_ENT_YC;Password=erp-china;"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>